<div class="summary-container">
    <h2>Récapitulatif</h2>
    <p>Prénom: {{form.value.firstName}}</p>
    <p>Nom de famille: {{form.value.lastName}}</p>
    <p>Genre: {{form.value.gender}}</p>
    <p>Email: {{form.value.email}}</p>
    <p>Adresse: {{form.value.address}}</p>
    <p>Ville: {{form.value.city}}</p>
    <p>Code Postal: {{form.value.postalCode}}</p>
    <p>Pays: {{form.value.country}}</p>
    <p>Téléphone: {{form.value.phone}}</p>
    <p>Pseudo: {{form.value.login}}</p>
    <p>Mot de passe: {{form.value.password}}</p>


</div>
